html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}
#root {
  min-height: 100%;
}
.App {
}

header {
  display: flex;
  flex-direction: column;
}

.lang-search-wrapper {
  background: rebeccapurple;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.lang-select {
  margin-top: 10px;
  margin-right: 5%;
}

.lang-select>select {
  width: 100px;
  height: 30px;
  margin-right: 5%;
  border-radius: 5px;
  padding-left: 10px;
}

.search {
  margin-left: 10px;
}

.search input {
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
  border: none;
  width: 200px;
  height: 30px;
  font-size: 18px;
  background: gainsboro;
  transition-property: background, box-shadow ;
  transition-duration: 0.3s;
}
.search input:focus {
  box-shadow: 0 0 10px red;
  background: white;
}


.search span {
  color: white;
  display: block;
}

h1 {
  background: rebeccapurple;
  color: white;
  width: 100%;
  height: 100px;
  display: inline-block;
  margin: 0;

}
select {
  width: 60px;
  position: relative;
  float: right;
  margin-right: 20px;
  display: block;

}
main {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  height: 50px;
  background: rebeccapurple;
}

.sort-view-wrapper {
  display: flex;
  justify-content: center;
}

.app-view {
  width: 300px;
  min-height: 100%;
}

.app-view li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

@media screen and (max-width: 620px) {
  .app-view {
    flex-direction: column;
  }
}