.user-view-prev-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.user-view-prev {
    flex: 0 35%;
    margin: 5px 5px ;
    display: flex;
    border: 1px solid darkgray;
    box-shadow: gray;
    border-radius: 3px;
    background-color: whitesmoke;
    overflow: hidden;
}

.user-info {
    flex-direction: column;
    align-items: left;
}

.user-info-video {
    flex: 0 50%;
    flex-direction: column;
}

.user-info span,
.user-info-video span {
   display: block;
   text-align: left;
}

.user-info .phone {
    margin-left: 10px;
    margin-bottom: 10px;
}

.avatar-name {
    display: flex;
    align-items: center;
    flex-basis: auto;
}

.phrase {
    margin: 0 10px 5px 10px ;
}

.phrase-video {
    margin: 10px 10px 5px 10px ;
}

.width100 {
    flex: 0 calc(70% + 12px);
    margin: 5px 0;
}

.video {
    display: flex;
    flex: 0 50%;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

video {
    width: 100%;
}

.user-view-prev .age, .user-view-prev .name, .user-view-prev .phone {
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 700px){
    .user-view-prev {
        flex: 0 100%;
        width: 100%;
        flex-direction: column;
        margin: 5px 10px ;
    }

    .user-info .phone,
    .user-info-video .phone {
        margin-left: 0;
    }

    .width100 {
        flex: 0 100%;
        margin: 5px 10px;
    }
}
