.user-view-table {
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    margin-top: 4px;
    border-radius: 2px;
    background-color: whitesmoke;
    transition-delay: 2ms;
    opacity: 0;
    flex-basis: 0;
    flex-shrink: 1;
}

.phone-favorites-wrapper {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-age-wrapper {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    flex-grow: 2;
}

.age {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.favorites {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.phone {
    flex-grow: 2;
    padding-right: 10px;
    display: flex;
    justify-content: left;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

/*.name , .phone {*/
    /*display: flex;*/
    /*flex-grow: 3;*/
    /*flex-shrink: 3;*/
    /*flex-basis: 0;*/
/*}*/
/*.phone {*/
    /*justify-content: center;*/
/*}*/
/*.name {*/
    /*flex-grow: 3;*/
/*}*/
/*.age , .favorites{*/
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 0;*/
/*}*/

/*.favorites*/
 /*{*/
    /*background: firebrick;*/
/*}*/

.bg-golden {
    color: goldenrod;
}


.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid gray;
    border-left:   .3em solid transparent;
    font-size: 15px;
}

.star-active {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid gold;
    border-left:   .3em solid transparent;
    font-size: 15px;
}

.star-active:before, .star-active:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid gold;
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
}

.star-active:after {
    transform: rotate(35deg);
}

.star-active:hover
{
    cursor: pointer;
}

.star:hover:before,
.star:hover:after,
.star:hover
{
    border-bottom: .7em solid gold;
    cursor: pointer;
}

.star:before, .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid gray;
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
}

.star::after {
     transform: rotate(35deg);
 }

@media screen and (max-width: 620px){
    .user-view-table {
        width: calc(100% - 20px);
        margin-left: 5px;
        margin-right: 5px;
    }
    .phone {
        flex-grow: 2;
    }
    .age, .favorites{
        flex-grow: 1;
    }
}

@media screen and (max-width: 541px){
    img {
        width: 30px;
        height: 30px;
    }

    .user-view-table {
        flex-direction: column;
        height: min-content;
    }

    .name-age-wrapper,
    .phone-favorites-wrapper {
        width: 100%;
    }
    .phone-favorites-wrapper {
        order: 0;
    }

    .phone {
        padding-left: 10px;
        justify-content: left;
    }

    .favorites {
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .star {
        font-size: 10px;
    }

    .star-active {
        font-size: 10px;
    }

    .age {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        margin: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.moving-item {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}